  <%= form_tag({controller: "profile_management",:action=>"edit_campus_and_address"},method: "post", :class=>"ui large form campus_info") do %>
<table class="ui single line table" id="campus_info_table">
  <thead>
    <tr>
      <th colspan="3">
        <h2 class="ui header">      
      <div class="content">
        Campus Information
      </div>
    </h2>
      </th>
      <th>
        <div id="edit_campus_info">
        <a  style="cursor:pointer;float:right;padding-right:10px;"><i title="edit" class="edit icon" style="font-size:x-large;"></i></a>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      	<td class="active"><b>College Name</b></td>
     	<td class="active"><b>University Name</b></td>
		<td class="active"><b>Address line 1</b></td>
      	<td class="active"><b>Address Line 2</b></td>
    </tr>
    <tr>
    	<% campus,address = campus_info %>
      	<td class="value">
      		<label> <%=campus.college_name %></label>
      		<div class="ui input" style="display:none">
            <%= text_field_tag "college_name",campus.college_name%>
      		</div>
      	</td>
      	<td class="value">
      		<label><%=campus.university_name %></label>
      		<div class="ui input" style="display:none">
            <%= text_field_tag "university_name",campus.university_name%>      			
      		</div>
      	</td>
      	<td class="value">
      		<label><%=address.address1 %></label>
      		<div class="ui input" style="display:none">
            <%= text_field_tag "address1",address.address1%>      			
      		</div>
      	</td>
      	<td class="value">
      		<label><%=address.address2 %></label>
      		<div class="ui input" style="display:none">
      			<%= text_field_tag "address2",address.address2%>
      		</div>
      	</td>
      	
    </tr>
    <tr>
		<td class="active"><b>Pin code</b></td>
      	<td class="active"><b>City</b></td>
      	<td class="active"><b>State</b></td>
      	<td class="active"><b>Country</b></td>
    </tr>
    <tr>
    	<%city,state = city_state(address.pin_code)%>
      	<td class="value">
      		<label><%= address.pin_code%></label>
      		<div class="ui input" style="display:none">
            <%= text_field_tag "pincode",address.pin_code%>      			
      		</div>
      	</td>
      	<td class="value">
      		<label><%=city %></label>
      		<div class="ui input" style="display:none">
            <%= text_field_tag "city",city%>           
      		</div>
      	</td>
      	<td class="value">
      		<label><%=state%></label>
      		<div class="ui input" style="display:none">
      			<%= text_field_tag "state",state%>          
      		</div>
      	</td>
      	<td class="value">
      		<label>India</label>
      	</td>      
    </tr>
  </tbody>
   <tfoot class="full-width" style="display:none">
    <tr>      
      <th colspan="4">
      	<button  class="ui right floated primary button" id="save_campus_info">
          Save
        </button>
      	<div class="ui right floated green button" id="cancel_edit_campus_info">
          Cancel
        </div>        
        
      </th>
    </tr>
  </tfoot>
</table>
<div class="ui error message campus_info"></div>

<div class="response" style="position:fixed;top:10px;left:30%;z-index:999">
<div  class="ui floating green message" id="message" style="padding-left:50px;padding-right:50px;display:<%= @message.present? ? 'block' : 'none' %>">
      <i class="close icon"></i>
      <div class="header">
        Campus information updated successfully.
      </div>
    </div>
    <div class="ui floating warning message" id="message" style="padding-right:50px;padding-left:50px;display:<%=@error.present? ? 'block' : 'none'%>">
      <i class="close icon"></i>
      <div class="header">
        OOPS, something went wrong!.
      </div>
      <p>Please try again later.</p>
    </div>
</div>
<%end%>

<script type="text/javascript">
  $('.message .close').on('click', function() {
      $(this).closest('.message').transition('fade');
      window.history.pushState({}, document.title, "/profile" );
  })
  setTimeout(function () {
      document.getElementById('message').style.display='none';
      window.history.pushState({}, document.title, "/profile" );
    }, 6000);

</script>