<div class="wrapper">
    <div class="register-background">
        <div class="filter-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
                        <div class="register-card col-md-6">
                            <h3 class="title">Log in</h3>

                            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>     

                              <%= f.label :email %><br />
                              <%= f.email_field :email, autofocus: true ,class: 'form-control'%>

                                <%= f.label :password %><br />
                                <%= f.password_field :password, autocomplete: "off",class: 'form-control',placeholder: "" %>


                                <% if devise_mapping.rememberable? -%>
                                  <%= f.check_box :remember_me %>
                                  <%= f.label :remember_me %>
                                <% end %>
                                <button class="btn btn-success btn-block">Log In</button>
                              <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

