  <%= form_tag({:action=>"edit_social_connect"},method: "post", :class=>"ui large form social_connect_form") do %>
<table class="ui single line table" id="social_connect_table">
  <thead>
    <tr>
      <th colspan="1">
        <h2 class="ui header">      
      <div class="content">
        Social Connect
      </div>
    </h2>
      </th>
      <th >      
      </th>
      <th>
        <div id="edit_social_connect">
        <a  style="cursor:pointer;float:right;padding-right:10px;"><i title="edit" class="edit icon" style="font-size:x-large;"></i></a>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="active"><b>LinkedIn </b></td>
      <td class="active"><b>Facebook </b></td>
     	<td class="active"><b>Twitter</b></td>
    </tr>
    <tr>
    	
      	<td class="value">
      		<label> <%=current_user.linkedin_link.present? ? current_user.linkedin_link : "--" %></label>
      		<div class="ui input" style="display:none">
            <%= text_field_tag "linkedin_link",current_user.linkedin_link%>
      		</div>
      	</td>      	
      	<td class="value">
      		<label><%=current_user.facebook_link.present? ?  current_user.facebook_link : "--" %></label>
      		<div class="ui input" style="display:none">
            <%= text_field_tag "fb_link",current_user.facebook_link%>      			
      		</div>
      	</td>
        <td class="value">
          <label><%=current_user.twitter_link.present? ? current_user.twitter_link : "--"%></label>
          <div class="ui input" style="display:none">
            <%= text_field_tag "twitter_link",current_user.twitter_link %>           
          </div>
        </td>      	
    </tr>    
  </tbody>
   <tfoot class="full-width" style="display:none">
    <tr>      
      <th colspan="4">
      	<button  class="ui right floated primary button" id="save_social_connect">
          Save
        </button>
      	<div class="ui right floated green button" id="cancel_edit_social_connect">
          Cancel
        </div>        
      </th>
    </tr>
  </tfoot>
</table>
<div class="ui error message social_connect"></div>
<%end%>
