<div class="wrapper">
    <div class="register-background">
        <div class="filter-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
                        <div class="register-card col-md-9">
                            <h3 class="title">College Details</h3>
                            <%= form_tag('/colleges/create') do  %>
                                <%= label_tag 'CollegeName', 'College Name' %>
                                <%= text_field_tag :college,nil,placeholder:'Enter college name', class: 'form-control' %>
                                <div style="float:left;width:50%"> 
                                    <%= label_tag 'country', 'Country Name' %>                                    
                                    <div id="country_container">
                                    </div>
                                </div>   
                                <div style="float:left;padding-left:10px;width:50%">
                                    <%= label_tag 'state', 'State Name' %>                                    
                                    <div id="state_container">
                                    </div>
                                </div>
                                <div style="float:left;width:50%">
                                    <%= label_tag 'city', 'City Name' %>                                    
                                    <div id="city_container">
                                    </div>
                                </div>
                                <div style="float:left;padding-left:10px;width:50%">
                                    <%= label_tag 'pin', 'Pin Code' %>                                    
                                    <div id="pin_container">
                                        <%= text_field_tag :pin_code,nil,placeholder:'Enter Pin code #', class: 'form-control' %>
                                    </div>
                                </div>
                                <div style="float:left;width:20%">
                                    <%= label_tag 'code', 'code #' %>
                                    <%= number_field_tag :code,nil, class: 'form-control' %>
                                </div>                                    
                                <div style="float:left;padding-left:10px;width:80%">
                                    <%= label_tag 'Landline', 'Landline #' %>
                                    <%= text_field_tag :landline,nil,placeholder:'Enter landline #', class: 'form-control' %>
                                 </div>   
                                <div style="float:left;width:50%">
                                    <%= label_tag 'phone1', 'Phone #-1' %>
                                    <%= text_field_tag :phone1,nil,placeholder:'Enter phone #', class: 'form-control' %>
                                </div>
                                <div style="float:left;padding-left:10px;width:50%">                                
                                    <%= label_tag 'phone2', 'Phone  #-2' %>
                                    <%= text_field_tag :phone2,nil,placeholder:'Enter phone #', class: 'form-control' %>
                                </div>

                                <%= label_tag 'email', 'email #-1' %>
                                <%= text_field_tag :email1,nil,placeholder:'Enter email #', class: 'form-control' %>
                                <%= label_tag 'email', 'email #-2' %>
                                <%= text_field_tag :email2,nil,placeholder:'Enter email #', class: 'form-control' %>
                                
                              <button class="btn btn-success btn-block">Submit</button>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>
