<div class="ui middle aligned center aligned grid">
  <div class="six wide column">
    <div class="ui icon warning message hidden">
      <i class="lock icon"></i>
      <div class="content">
        <div class="header">
          Login failed!
        </div>
        <p>You might have misspelled your username or password!</p>
      </div>
    </div>
    <h2 class="ui image header">
    <div class="content">
      Lets's Introduce your College
    </div>
    </h2>
    <%= form_tag({controller: "college_registeration",action: "create"},method: "post", :class=>"ui large form") do %>
    <div class="ui segment">
      <div class="field">
        <div class="ui left icon input">
          <i class="university icon"></i>
          <%= text_field_tag "university_name",nil, placeholder: "Enter university name"%>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="university icon"></i>
          <%= text_field_tag "college_name",nil, placeholder: "Enter College name"%>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="building icon"></i>
          <%= text_field_tag "address_line_1",nil,placeholder: "Enter Address"%>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="location arrow icon"></i>
          <%= text_field_tag "address_line_2",nil,placeholder: "Enter Address landmark"%>
        </div>
      </div>
      <div class="field">
        <!-- <label>Name</label> -->
        <div class="two fields">
          <div class="field">
            <div class="ui left icon input">
              <i class="map pin icon"></i>
              <%= text_field_tag "pincode",nil,placeholder: "Enter pincode #" %>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="marker icon"></i>
              <%= text_field_tag "town_city",nil,placeholder: "Enter city/Town"%>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <!-- <label>Name</label> -->
        <div class="two fields">
          <div class="field">
            <div class="ui left icon input">
              <i class="map icon"></i>
              <%= text_field_tag "state",nil,placeholder: "Enter State" %>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="map icon"></i>
              <%= text_field_tag "country",nil,placeholder: "Enter country"%>
            </div>
          </div>
        </div>
      </div>
      <div class="ui horizontal divider">
        <p>Information required to be in touch</p>
      </div>
      <div class="field">
        <!-- <label>Some Important Information</label> -->
        <div class="two fields">
          <div class="field">
            <div class="ui left icon input">
              <i class="mail icon"></i>
              <%= text_field_tag "email_id_1",nil,placeholder: "Enter Email 1" %>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="mail icon"></i>
              <%= text_field_tag "email_id_2",nil,placeholder: "Enter Email 2"%>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <!-- <label>Some Important Information</label> -->
        <div class="two fields">
          <div class="field">
            <div class="ui left icon input">
              <i class="volume control phone icon"></i>
              <%= text_field_tag "phone_1",nil,placeholder: "Enter phone # 1" %>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="volume control phone icon"></i>
              <%= text_field_tag "phone_2",nil,placeholder: "Enter phone # 2"%>
            </div>
          </div>
        </div>
      </div>
      
      <div class="field">
        <div class="ui left icon input">
          <i class="text telephone icon"></i>
          <%= text_field_tag "landline_no",nil,placeholder: "Enter Landline #"%>
        </div>
      </div>
      <button class="ui fluid large teal submit button">Submit</button>
      
      <div class="ui error message"></div>
    </div>
    <%end %>
  </div>
</div>
<script type="text/javascript">
CampusConnect.Login.Validation.collegeRegistration();
</script>