<!DOCTYPE html>
<html>
    <head>
        <title>College Connect</title>
        <%=stylesheet_link_tag "dashboard.css"%>
        <%=stylesheet_link_tag "application.css"%>
        <%= csrf_meta_tags %>
    </head>

    <body>
        <%= javascript_include_tag 'handlebars-v4.0.5.js' %>
        <%= javascript_include_tag 'campus_connect/utilities.js' %>
        <%= javascript_include_tag 'campus_connect/dashboard.js' %>
        <%= javascript_include_tag 'application.js' %>
        <%= javascript_include_tag "campus_connect/college/validation.js" %>

        <%= render 'layouts/header' %>
        <%= render :partial=>"campus_drives/departments_handlebar" %>
        <%= render :partial=>"dashboard/cards_handlebar" %>
        <%= render :partial=>"location_filter_handlebar"%>
        <script type="text/javascript">
            CampusConnect.Utilities.init();
            CampusConnect.Dashboard.init();
        </script>
        
        <%=yield%>
    </body>
</html>
