<!DOCTYPE html>
<html>
    <head>
        <title>College Connect</title>
        <%=stylesheet_link_tag "application.css"%>
        <%=stylesheet_link_tag "dashboard.css"%>
        
        <%= csrf_meta_tags %>
        <%= javascript_include_tag 'campus_connect/utilities.js' %>       
        <%= javascript_include_tag "campus_connect/college/validation.js" %>        
        <%= javascript_include_tag 'application.js' %>
    </head>
    <body>  
        <%= render 'layouts/header' %>
       

        <%=yield%>
    </body>
</html>
