<!DOCTYPE html>
<html>
    <head>
        <title>College Connect</title>
        <%=stylesheet_link_tag "application.css"%>
        <%= csrf_meta_tags %>
    </head>

    <body>
        <%=javascript_include_tag "campus_connect/utilities.js"%>
        <%=javascript_include_tag "application.js"%>
        <%= javascript_include_tag 'handlebars-v4.0.5.js' %>

        <%= render 'layouts/header' %>
        <%=yield%>

    </body>
</html>
